<!-- Title Section Contains Navbar -->
<section id="title">

    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/images/nav-logo.png" alt="" width="64" height="64">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item p-3"> <a class="nav-link" href="/blogs">Start Reading</a></li>
                    <% if (editor) { %>
                    <li class="nav-item p-3"> <a class="nav-link" href="/editor">Post Question</a></li>
                    <li class="nav-item p-3"> <a class="nav-link" href="/logout">Logout</a></li> 
                    <% } else { %>
                    <li class="nav-item p-3"> <a class="nav-link" href="/login/login">Login</a></li> 
                    <% } %>
                    
                </ul>
            </div>
        </div>
    </nav>

</section>